<h1>Pinterest</h1>

<% @photos.each do |photo| %>
<%= photo.title %>
<%= image_tag @photo.h.url %>
<%= image_tag @photo.avatar.url(:medium) %>
<%= image_tag @photo.avatar.url(:thumb) %>
<%= link_to 'read more', photo_path(photo.id)%><br>
<span><%= link_to 'edit', edit_photo_path(photo.id)%><span> |
<span><%= link_to 'delete', photo_path(photo), :method => :delete, data: {confirm: 'Delete this image ?'} %><span><br><br>
<% end %>
